# Targets and stuffs
# -target x86_64-w64-mingw3 # No.. just no
# -target x86_64-w64-msvc   # No, but...

# maybe?
-target x86_64-w64-mingw3
-m64
-fansi-escape-codes
-fcolor-diagnostics
-fdiagnostics-show-option
-fexceptions
-fcxx-exceptions
-Wall
-Wno-error
-pedantic
-pthread
# -std=c++23
# -std=c23

# Boost
# A big hmmmmm here
-I"D:/Code/_CLIB/Boost/include/boost-1_87"
-L"D:/Code/_CLIB/Boost/lib"

# FMT
-I"D:/Code/_CLIB/fmt/fmt/include"
-L"D:/Code/_CLIB/fmt/fmt/lib/"
-DFMT_HEADER_ONLY
# -lfmt

# Abseil
-I"D:/Code/_CLIB/Abseil/include"
-L"D:/Code/_CLIB/Abseil/lib"

# GTest
-I"D:/Code/_CLIB/gtest/include"
-L"D:/Code/_CLIB/gtest/lib"

# Tabulate
-I"D:/Code/_CLIB/Tabulate/tabulate-1.5/include"

# MemSchool
-I"D:/Code/_CLIB/MemSchool"

# No dumb warnings
-static
-Wno-deprecated-declarations
-Wno-deprecated-literal-operator
-Wno-deprecated-declarations
-Wno-unknown-pragmas
-Wno-gnu-anonymous-struct
-Wno-unused-variable
-Wno-nested-anon-types
-fdeclspec

# WinSDK
# Should I?
-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0"
#-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/cppwinrt"
#-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared"
#-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt"
#-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um"
#-I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt"
#-L"C:/Program Files (x86)/Windows Kits/10/Lib/10.0.26100.0/ucrt/x64"
#-L"C:/Program Files (x86)/Windows Kits/10/Lib/10.0.26100.0/um/x64"
#-L"C:/Program Files (x86)/Windows Kits/10/Lib/10.0.26100.0/ucrt_enclave/x64"

@mingw32-common.cfg
# SEH is the default for x86_64.
